{% extends 'layout.html' %}

{% block content %}
<div class="py-4 px-3 px-md-4">
<!-- Validation with Icons -->
          <div class="card mb-3 mb-md-4">
            <div class="card-header border-bottom p-3">
              <h5 class="font-weight-semi-bold mb-0">Validation with Icons</h5>
            </div>

            <div class="card-body">
              <form class="js-validate" method="POST" action='/register' enctype="multipart/form-data">
                <!-- Input -->
                <div class="js-form-message js-focus-state form-group mb-3 mb-md-3">
                  <label for="inputName2">
                    아이템 이름
                    <span class="text-danger">*</span>
                  </label>
                  <input type="text" id="inputName2" class="form-control" name="name" placeholder="Item Name" required
                         data-msg="Please enter item name."
                         data-error-class="u-has-error validate-icon"
                         data-success-class="u-has-success validate-icon">
                </div>
                <!-- End Input -->

                <!-- Input -->
                <div class="js-form-message js-focus-state form-group mb-3 mb-md-3">
                  <label for="inputPrice">
                    아이템 가격
                    <span class="text-danger">*</span>
                  </label>
                  <input type="text" id="inputPrice" class="form-control" name="price" placeholder="Item Price" required
                         data-rule-digits="true"
                         data-error-class="u-has-error validate-icon"
                         data-success-class="u-has-success validate-icon">
                </div>
                <!-- End Input -->

                <!-- Input -->
                <div class="js-form-message js-focus-state form-group mb-3 mb-md-3">
                  <label for="inputImage">
                    아이템 사진
                    <span class="text-danger">*</span>
                  </label>
                  <input type="file" id="inputImage" class="form-control" name="image" required
                         data-error-class="u-has-error validate-icon"
                         data-success-class="u-has-success validate-icon">
                </div>
                <!-- End Input -->

                <div class="form-group">
                  <button class="btn btn-primary" type="submit">Submit</button>
                </div>
              </form>
            </div>
          </div>
          <!-- End Validation with Icons -->
</div>


<!-- JS Libraries Init. -->
<script>
  $(document).on('ready', function () {
    // Jquery validation rule for checkboxed with min value
    jQuery.validator.addMethod('min2selected',function(value, element) {
      console.log($(element))
      return $('.minCheckboxes').filter(':checked').length >= 2;
    }, 'You must check at least 2 box.');

    // Jquery validation rule for checkboxed with max value
    jQuery.validator.addMethod('max2selected',function(value, element) {
      return $('.maxCheckboxes').filter(':checked').length <= 2;
    }, 'You must select no more than 2 checkbox.');

    // initialization of form validation
    $.HSCore.components.HSValidation.init('.js-validate', {
      rules: {
        "minCheckboxes[]": {
          required: true,
          min2selected: true
        },
        "maxCheckboxes[]": {
          required: true,
          max2selected: true
        }
      }
    });

    // initialization of custom flatpicker
    $.HSCore.components.HSFlatpickr.init('.js-datepicker');

    // initialization of custom scroll
    $.HSCore.components.HSMalihuScrollBar.init($('.js-custom-scroll'));

    // initialization of sidebar navigation component
    $.HSCore.components.HSSideNav.init('.js-side-nav');

    // initialization of dropdown component
    $.HSCore.components.HSUnfold.init($('[data-unfold-target]'));

    // initialization of show on type module
    $.HSCore.components.HSHeaderSearch.init('.js-header-search');

    // initialization of show on type module
    $.HSCore.components.HSSelect2.init('.js-custom-select');

    // initialization of autocomplete
    $.HSCore.components.HSAutocomplete.init('.js-autocomplete');

    // initialization of dropzone component
    $.HSCore.components.HSDropzone.init('.u-dropzone');

    // initialization of summernote plugin
    $.HSCore.components.HSSummernoteEditor.init('.js-summernote-editor');
  });
</script>
{% endblock %}