{% extends 'layout.html' %}

{% block content %}
<div class="py-4 px-3 px-md-4">
  <!-- Card -->
  <div class="card mb-3 mb-md-4">
    <div class="card-header border-bottom d-xl-flex">
      <h5 class="font-weight-semi-bold mb-0">{{ item['name'] }}</h5>

      <div class="d-flex align-items-center ml-auto">

      </div>
    </div>
    <div class="card-body border-bottom">
      <h5>아이템 주소</h5>
      <p class="mb-0">{{ item['address'] }}</p>
      <p></p>
      <h5>가격</h5>
      <p class="mb-0">{{ item['price'] }} KLAY</p>
      <p></p>
      {% if item['lottery'] == 0 %}
      <h5>남은 티켓</h5>
      <p class="mb-0">{{ item['ticket'] }} 개</p>
      <p></p>
      {% else %}
      <h5>당첨자</h5>
      <p class="mb-0">{{ item['winner'] }}</p>
      <p></p>
      {% endif %}
    </div>
    <div class="card-body border-bottom" style="text-align: center;">
      <img src="/static/image/{{ item['image'] }}" style="width:50%;">
    </div>
    {% if item['lottery']==0 and item['ticket']>0 %}
    <div class="card-body border-bottom">
      <h5>티켓 사기</h5>
      <form class="js-validate" method="POST" action='/stake' enctype="multipart/form-data">
                <!-- Input -->
                <div class="js-form-message js-focus-state form-group mb-3 mb-md-3">
                  <input type="number" class="form-control" name="ticket" placeholder="Value between 0 - {{ item['ticket'] }}" min="0" max="{{ item['ticket']}}" required
                           data-error-class="u-has-error"
                           data-success-class="u-has-success">
                  <input type="hidden" name="iid" value="{{ item['iid'] }}"/>
                  <input type="hidden" name="address" value="{{ item['address'] }}"/>
                </div>
                <!-- End Input -->
                <div class="form-group">
                  <button class="btn btn-primary" type="submit">Submit</button>
                </div>
              </form>

    </div>
    {% if item['uid'] == session['uid'] %}
    <div class="card-body border-bottom">
    <form class="js-validate" method="POST" action='/lottery' enctype="multipart/form-data">
              <!-- Input -->
                <input type="hidden" name="iid" value="{{ item['iid'] }}"/>
                <input type="hidden" name="address" value="{{ item['address'] }}"/>
              <!-- End Input -->
              <div class="form-group">
                <button class="btn btn-primary" type="submit">추첨</button>
              </div>
            </form>

    </div>
    {%endif%}
      {% endif %}
  </div>
  <!-- End Card -->
</div>

<!-- JS Libraries Init. -->
<script>
  $(document).on('ready', function () {
    // Jquery validation rule for checkboxed with min value
    jQuery.validator.addMethod('min2selected',function(value, element) {
      console.log($(element))
      return $('.minCheckboxes').filter(':checked').length >= 2;
    }, 'You must check at least 2 box.');

    // Jquery validation rule for checkboxed with max value
    jQuery.validator.addMethod('max2selected',function(value, element) {
      return $('.maxCheckboxes').filter(':checked').length <= 2;
    }, 'You must select no more than 2 checkbox.');

    // initialization of form validation
    $.HSCore.components.HSValidation.init('.js-validate', {
      rules: {
        "minCheckboxes[]": {
          required: true,
          min2selected: true
        },
        "maxCheckboxes[]": {
          required: true,
          max2selected: true
        }
      }
    });

    // initialization of custom flatpicker
    $.HSCore.components.HSFlatpickr.init('.js-datepicker');

    // initialization of custom scroll
    $.HSCore.components.HSMalihuScrollBar.init($('.js-custom-scroll'));

    // initialization of sidebar navigation component
    $.HSCore.components.HSSideNav.init('.js-side-nav');

    // initialization of dropdown component
    $.HSCore.components.HSUnfold.init($('[data-unfold-target]'));

    // initialization of show on type module
    $.HSCore.components.HSHeaderSearch.init('.js-header-search');

    // initialization of show on type module
    $.HSCore.components.HSSelect2.init('.js-custom-select');

    // initialization of autocomplete
    $.HSCore.components.HSAutocomplete.init('.js-autocomplete');

    // initialization of dropzone component
    $.HSCore.components.HSDropzone.init('.u-dropzone');

    // initialization of summernote plugin
    $.HSCore.components.HSSummernoteEditor.init('.js-summernote-editor');
  });
</script>
{% endblock %}